<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>IniciarSesion</servlet-name>
        <servlet-class>Controladores.IniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerPerfil</servlet-name>
        <servlet-class>Controladores.VerPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registrarse</servlet-name>
        <servlet-class>Controladores.Registrarse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRegistro</servlet-name>
        <servlet-class>vista.ServletRegistro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>Controladores.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Carrito</servlet-name>
        <servlet-class>Controladores.Carrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerImagen</servlet-name>
        <servlet-class>Controladores.VerImagen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VenderProdcuto</servlet-name>
        <servlet-class>Controladores.VenderProdcuto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarProducto</servlet-name>
        <servlet-class>Controladores.ModificarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controlador.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetImagen</servlet-name>
        <servlet-class>Imagen.GetImagen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Salir</servlet-name>
        <servlet-class>controlador.Salir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuevoProducto</servlet-name>
        <servlet-class>controlador.NuevoProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Historial</servlet-name>
        <servlet-class>controlador.Historial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>detalleProducto</servlet-name>
        <servlet-class>controlador.detalleProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetVideo</servlet-name>
        <servlet-class>Imagen.GetVideo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>comentarProducto</servlet-name>
        <servlet-class>controlador.comentarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeerComentarios</servlet-name>
        <servlet-class>controlador.LeerComentarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValorarArticulo</servlet-name>
        <servlet-class>controlador.ValorarArticulo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregarACarrito</servlet-name>
        <servlet-class>controlador.agregarACarrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministrarSitio</servlet-name>
        <servlet-class>controlador.AdministrarSitio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Administracion</servlet-name>
        <servlet-class>controlador.Administracion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarProducto</servlet-name>
        <servlet-class>controlador.eliminarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getPresupuestos</servlet-name>
        <servlet-class>controlador.getPresupuestos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>controlador.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resultadosBusqueda</servlet-name>
        <servlet-class>controlador.resultadosBusqueda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verCarrito</servlet-name>
        <servlet-class>controlador.verCarrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>perfil</servlet-name>
        <servlet-class>controlador.perfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verPresupuestos</servlet-name>
        <servlet-class>controlador.verPresupuestos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>detalleCompra</servlet-name>
        <servlet-class>controlador.detalleCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCantidad</servlet-name>
        <servlet-class>controlador.UpdateCantidad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEstatus</servlet-name>
        <servlet-class>controlador.UpdateEstatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>detallePresupuestoCliente</servlet-name>
        <servlet-class>controlador.detallePresupuestoCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RealizarCompra</servlet-name>
        <servlet-class>controlador.RealizarCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetallePresupuestoAdmin</servlet-name>
        <servlet-class>controlador.DetallePresupuestoAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BajaDeProducto</servlet-name>
        <servlet-class>controlador.BajaDeProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmarPrecioPresupuesto</servlet-name>
        <servlet-class>controlador.ConfirmarPrecioPresupuesto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmarPresupuestoCompleto</servlet-name>
        <servlet-class>controlador.ConfirmarPresupuestoCompleto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IniciarSesion</servlet-name>
        <url-pattern>/IniciarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerPerfil</servlet-name>
        <url-pattern>/VerPerfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registrarse</servlet-name>
        <url-pattern>/Registrarse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Carrito</servlet-name>
        <url-pattern>/Carrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerImagen</servlet-name>
        <url-pattern>/VerImagen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VenderProdcuto</servlet-name>
        <url-pattern>/VenderProdcuto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarProducto</servlet-name>
        <url-pattern>/ModificarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRegistro</servlet-name>
        <url-pattern>/ServletRegistro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/LoginUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetImagen</servlet-name>
        <url-pattern>/GetImagen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Salir</servlet-name>
        <url-pattern>/Salir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuevoProducto</servlet-name>
        <url-pattern>/NuevoProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Historial</servlet-name>
        <url-pattern>/Historial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>detalleProducto</servlet-name>
        <url-pattern>/detalleProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetVideo</servlet-name>
        <url-pattern>/GetVideo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>comentarProducto</servlet-name>
        <url-pattern>/comentarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeerComentarios</servlet-name>
        <url-pattern>/LeerComentarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValorarArticulo</servlet-name>
        <url-pattern>/ValorarArticulo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregarACarrito</servlet-name>
        <url-pattern>/agregarACarrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministrarSitio</servlet-name>
        <url-pattern>/AdministrarSitio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Administracion</servlet-name>
        <url-pattern>/Administracion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarProducto</servlet-name>
        <url-pattern>/eliminarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getPresupuestos</servlet-name>
        <url-pattern>/getPresupuestos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/Index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resultadosBusqueda</servlet-name>
        <url-pattern>/resultadosBusqueda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verCarrito</servlet-name>
        <url-pattern>/verCarrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>perfil</servlet-name>
        <url-pattern>/perfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verPresupuestos</servlet-name>
        <url-pattern>/verPresupuestos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>detalleCompra</servlet-name>
        <url-pattern>/detalleCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCantidad</servlet-name>
        <url-pattern>/UpdateCantidad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEstatus</servlet-name>
        <url-pattern>/UpdateEstatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>detallePresupuestoCliente</servlet-name>
        <url-pattern>/detallePresupuestoCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RealizarCompra</servlet-name>
        <url-pattern>/RealizarCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetallePresupuestoAdmin</servlet-name>
        <url-pattern>/DetallePresupuestoAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BajaDeProducto</servlet-name>
        <url-pattern>/BajaDeProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmarPrecioPresupuesto</servlet-name>
        <url-pattern>/ConfirmarPrecioPresupuesto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmarPresupuestoCompleto</servlet-name>
        <url-pattern>/ConfirmarPresupuestoCompleto</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Index</welcome-file>
    </welcome-file-list>
</web-app>
